
<div id="wrapper" class="active">
  <!-- Sidebar -->
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav">
      <li class="sidebar-brand"><a id="menu-toggle">Menu</a></li>
    </ul>
    <ul class="sidebar-nav" id="sidebar">
      <li><a routerLink="listallvehicles">List all vehicle</a></li>
      <ul class="sidebar-nav" id="sidebar">
        <li><a routerLink="addvehicle">Add new vehicle</a></li>
        <li><a routerLink="listmyvehicles">List my vehicle</a></li>
      </ul>
      <!-- <li><a [routerLink]="['editmyvehicles',userid]">Edit my vehicle</a></li>
      <li><a [routerLink]="['deletemyvehicles',userid]">Delete my vehicle</a></li> -->
    </ul>
  </div>

 <router-outlet></router-outlet> 

</div>

<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
  });

</script>